<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
  <dict>
    <key>CFBundleName</key>
    <string>AVEDAC</string>
    <key>CFBundleVersion</key>
    <string>10.2</string>
    <key>CFBundleAllowMixedLocalizations</key>
    <string>true</string>
    <key>CFBundleExecutable</key>
    <string>JavaApplicationStub</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleIconFile</key>
    <string>${iconFile}</string> 
    <key>LSEnvironment</key>
            <dict>
                <key>DYLD_LIBRARY_PATH</key>
                <string>/Applications/MATLAB/MATLAB_Compiler_Runtime/v710/runtime/maci:/Applications/MATLAB/MATLAB_Compiler_Runtime/v710/sys/os/maci:/Applications/MATLAB/MATLAB_Compiler_Runtime/v710/bin/maci:/System/Library/Frameworks/JavaVM.framework/JavaVM:/System/Library/Frameworks/JavaVM.framework/Libraries:/lib:/usr/lib</string>
                <key>XAPPLRESDIR</key>
                <string>/Applications/MATLAB/MATLAB_Compiler_Runtime/v710/X11/app-defaults</string> 
            </dict>
    <key>Java</key>
    <dict>
        <key>LSArchitecturePriority</key>
         <array>
           <string>i386</string> 
           <string>ppc</string> 
        </array> 
      <key>MainClass</key>
      <string>${mainClass}</string>
      <key>JVMVersion</key>
      <string>1.4+</string>
      <key>ClassPath</key>
      ${classpath}
      <key>VMOptions</key>
      <string>-Xmx512m -Xms128m</string>  
      <key>Properties</key>
            <dict>
                <key>apple.laf.useScreenMenuBar</key>
                <string>true</string>
                <key>apple.awt.showGrowBox</key>
                <string>true</string> 
            </dict>
    </dict>
  </dict>
</plist>