<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MATLAB_ROOT</key>
	<string>/Applications/MATLAB_R2009a.app</string>
	<key>DYLD_LIBRARY_PATH</key>
	<string>$HOME/aved/lib:$MATLAB_ROOT/runtime:$matlab_root/bin/maci:/System/Library/Frameworks/JavaVM.framework/JavaVM:/System/Library/Frameworks/JavaVM.framework/Libraries</string>
	<key>XAPPLERESDIR</key>
	<string>$MATLAB_ROOT/X11/app-defaults</string>
</dict>
</plist>



